<%-include("partials/C-header.ejs") %>
<div class="main">
<form action="/search" method="POST">
    <div class="input-group-for-searchbar mt-4">
        <input type="text" class="input-for-searchbar"  name="searchText" placeholder="Enter to search" autocomplete="off">
        <input class="button--submit-for-searchbar" value="Search" type="submit">
    </div>
</form>

<% if(locals.buyerErrorMessage){ %>
  <div class="alert alert-warning alert-dismissible m-1 m-md-3">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <%= buyerErrorMessage %>
  </div>
<% } %>

<hr>
    <% if(locals.searchResults){ %>
        <h1 class = "main-heading mb-3">Search Results:</h1>
        <div class="row">
            <% if(searchResults != -1){ %>
                <% searchResults.forEach((result) => { %>
                    <div class="col-12 col-md-6 col-xl-4 d-flex justify-content-center"> 
                        <div class="card crop-container" style="max-width:400px">
                            <img class="card-img-top crop-image" src= <%= result.crop_image_path %> alt="crop-image" style="width:100%">
                            <div class="card-body">
                                <h4 class="card-title"><%= result.crop_name %></h4>
                                <p class="card-text">
                                    <strong>Sold by :</strong> <%= result.farmer_name %><br>
                                    <strong>District :</strong> <%= result.district %><br>
                                    <strong>Price :</strong> <%= result.crop_price %>/- per kg <br>
                                    <strong>Quantity available:</strong> <%= result.crop_quantity %>kg <br>
                                    <strong>Crop listed on :</strong> <%= result.date %> <br> 
                                </p>
                            </div>
                            <% if(locals.isLoggedIn && isLoggedIn){ %>
                                <form action="/send-request/<%= result.crop_id %>" method="POST">
                                    <div class="input-group">
                                        <input type="number" class="quantity-input" name="requestedQuantity" placeholder="Enter quantity" autocomplete="off" required="" min="1" input="validity.valid||(value='');">
                                        <input class="button--submit" value="Request" type="submit">
                                    </div>
                                </form>
                            <% } %>
                        </div>
                    </div>

                <% }); %>
            <% }else{ %>
                <div class="text-center shadow-container">
                    <p>No results found.</p>
                </div>
            <% } %>
        </div>
    <% }else{ %>
        <div class="buyer-home-bg-img-section">
            <div class="text-center shadow-container">
                <p>Search for crops to view the results here.</p>
            </div>
        </div>
    <% } %>

<%-include("partials/footer.ejs") %>
  

